<div id="preview" class="shadowbox" style="background-image: url(http://dillinger.io/);">
    <h1 id="curriculum-vitae">Curriculum vitae</h1>
    <h2 id="personal-data">Personal Data</h2>
    <ul>
        <li>FullName:
            <code>Lai Hoang Nam</code>
        </li>
        <li>Sex:
            <code>Male</code>
        </li>
        <li>Date of Birth:
            <code>02/10/1991</code>
        </li>
        <li>Place of Birth:
            <code>Binh Duong Province</code>
        </li>
        <li>Marial Status:
            <code>single</code>
        </li>
        <li>Telephone No:
            <code>xxxxxxxx</code>
        </li>
        <li>Email:
            <code>laihoangnam0210@gmail.com</code>, Sky:
            <code>joinsmith91</code>
        </li>
    </ul>
    <h2 id="education-background">Education Background</h2>
    <ul>
        <li>
            <p>Ho Chi Minh City University of Technology</p>
            <p>Faculty: Computer Science</p>
        </li>
    </ul>
    <h2 id="working-experiences">Working Experiences</h2>
    <h4 id="ho-chi-minh-city-university-of-technology-">Ho Chi Minh City University of Technology:</h4>
    <ul>
        <li>P2p file sharing and chat programming in computer network.</li>
        <li>Robot Navigation in artificial intelligence using JAVA.</li>
        <li>Tourist company database design in database system using oracle.</li>
    </ul>
    <h4 id="liti-solutions-">Liti Solutions:</h4>
    <ol>
        <li>
            <p>Content management system site:</p>
            <p>Job description:</p>
            <ul>
                <li>Backend: restful API, CRUD user.</li>
                <li>Frontend: angularjs-based and bootstrap 3.</li>
                <li>Database: using mongodb. Backup and restore plan every week.</li>
            </ul>
        </li>
        <li>
            <p>Cafe management (single page application)</p>
            <p>Job description:</p>
            <ul>
                <li>Backend: supported: restful API, session store, authentication, unit test some function.</li>
                <li>Frontend: angularjs-based and bootstrap 3.</li>
                <li>Database: create sample database, backup and restore plan with mongodump and mongoimport.</li>
            </ul>
        </li>
        <li>
            <p>Tours Management (single page application)</p>
            <p>Job description:</p>
            <ul>
                <li>Backend: core developer team. Wrote by sailsjs, it's new framework for nodejs.</li>
            </ul>
        </li>
        <li>Building library:
            <ul>
                <li>Implementation Remote Procedure Call in Golang</li>
                <li>Easy to login with facebook, google++.</li>
                <li>Building mithriljs bootstrap (in progress).</li>
            </ul>
        </li>
    </ol>
    <h4 id="self-employee-">Self-Employee:</h4>
    <ol>
        <li>
            <p>Ecommerce website:</p>
            <ul>
                <li>Verify mobile with sms.</li>
                <li>Authentication with passport.</li>
                <li>Product management, sale events, report services.</li>
            </ul>
        </li>
        <li>
            <p>Curriculum vitae website:</p>
            <p>Job description: using ruby on rails, config virtual private server.</p>
            <ul>
                <li>Brief myself.</li>
                <li>TODO application.</li>
            </ul>
        </li>
    </ol>
    <h2 id="key-skills-">Key skills:</h2>
    <h4 id="backend-">Backend:</h4>
    <ul>
        <li>Advanced NodeJS, Go.</li>
        <li>Using effiently SailsJS.</li>
        <li>Intermediate PHP, Express.</li>
        <li>Knowlegde about Ruby on Rails.</li>
    </ul>
    <h4 id="frontend-">FrontEnd:</h4>
    <ul>
        <li>Advanced AngularJS.</li>
        <li>Using bootstrap 3.</li>
        <li>Understanding MithrilJS.</li>
    </ul>
    <h4 id="testing-">Testing:</h4>
    <ul>
        <li>Javascript test framework: Mocha</li>
        <li>Go unit test.</li>
    </ul>
    <h4 id="soft-skill-">Soft Skill:</h4>
    <p>Presentation, comminication, leadership.</p>
    <h2 id="languages-skills">Languages Skills</h2>
    <ul>
        <li>TOEIC: 490.</li>
        <li>Korea: elementary 2.</li>
    </ul>
    <h2 id="activities-">Activities:</h2>
    <h4 id="regular-volunteer-at-uoc-mo-xanh-joint-stock-company-">Regular volunteer at UOC MO XANH joint Stock company:</h4>
    <ul>
        <li>Joined at world camp 2012 in South Korea holding by IYF.</li>
        <li>Leader of group at Uoc Mo Xanh music culture exchange program.</li>
        <li>Prepare games at Uoc Mo Xanh music culture exchage program.</li>
        <li>Volunteer in cleanup roads program at Tien Giang province.</li>
        <li>Building uocmoxanh.edu.vn website.</li>
        <li>Other mini program.</li>
    </ul>
    <h4 id="ho-chi-minh-city-university-of-technology-">Ho Chi Minh City University of Technology:</h4>
    <ul>
        <li>Core developer at Techcamp SaiGon University</li>
        <li>Volunteer at BkitQuiz event 2014.</li>
    </ul>
    <h2 id="personal-quntities-">Personal Quntities:</h2>
    <ul>
        <li>Empathy and sharing feeling with each other.</li>
        <li>Keep my mind and others always up.</li>
        <li>Always try my best.</li>
    </ul>
    <h3 id="references">References</h3>
    <ol>
        <li>Nguyen Mau Quang Vu, CTO at Liti Solution, xxxx</li>
        <li>Nguyen Thanh My, Chairman of the Board, xxxx</li>
        <li><a href="http://www.techcampuni.vn">http://www.techcampuni.vn</a>
        </li>
        <li><a href="http://www.nam.ninja">http://www.nam.ninja</a>
        </li>
    </ol>
</div>
